/* AttachmentsDropZone */
@import "AuiVariables.less";
@import "DndVariables.less";

.attachments-drop-zone__dragover-border {
  background: rgba(255, 255, 255, 0);
  border: @dropzone-border-width dashed @adg-color-orange;
  border-radius: @dropzone-border-radius;
  bottom: 0;
  left: 0;
  margin: @dropzone-border-margin;
  position: absolute;
  right: 0;
  top: 0;
  transition: z-index 0s step-end 0.2s,
              background 0s step-end 0.2s,
              visibility 0s step-end 0.2s;
  visibility: hidden;
  z-index: -1;
}

.attachments-drop-zone__dragover .attachments-drop-zone__dragover-border {
  transition: z-index 0s, background 0s, visibility 0s;
  visibility: visible;
  z-index: 2500;
}

.attachments-drop-zone__dragover-fade .attachments-drop-zone__dragover-border {
  background: rgba(255, 255, 255, @dropzone-mask-opacity);
}

div.attachments-drop-zone__dragover-info {
  background: white;
  border: @dropzone-border-width solid @adg-color-orange;
  border-radius: @dropzone-border-radius;
  left: 40%;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 40%;
  text-align: center;
  top: 10px;
  transition: z-index 0s step-end 0.2s, visibility 0s step-end 0.2s;
  visibility: hidden;
  width: 20%;
  z-index: -1;
}

.attachments-drop-zone__dragover .attachments-drop-zone__dragover-info {
  transition: z-index 0s, visibility 0s, top 0.1s ease;
  visibility: visible;
  z-index: 2500;
}

div.attachments-drop-zone__window-dragover-mask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: z-index 0s step-end 0.2s;
  z-index: -1;
}

.attachments-drop-zone__window-dragover .attachments-drop-zone__window-dragover-mask {
  transition: z-index 0s;
  z-index: 2499;
}
